.content-container{
    margin: 20px 10% 20px 10%;
    border-radius: 4px;
}

::ng-deep .mat-card-content{
    font-size: 18px;
}

.archive-container{
    padding: 0.8rem;
    text-align: end;
    a{
        font-size: 18px;
        &:visited{
            color: #0000EE;
        }

    }
}