<h1 class="mat-display-1">Posts</h1>
<div class="post-container" *ngFor="let post  of (posts$ |async)">
    <mat-card>
        <mat-card-title ><span [routerLink]="['/post',post.id]">{{post.title}}</span></mat-card-title>
        <mat-card-subtitle>{{post.publishDate |date: 'short'}}</mat-card-subtitle>
        <mat-card-content *ngIf="post.body.length>250">{{post.body|slice: 0:250}}<a [routerLink]="['/post',post.id]">...</a></mat-card-content>
        <mat-card-content *ngIf="post.body.length<=250">{{post.body}}</mat-card-content>
        <mat-card-actions align="end">
            <div class="post-container-actions">
                <div class="post-container-actions-like-btn">
                    <span class="button-text">{{post.likeCount}}</span>
                    <button mat-icon-button 
                    (click)="handleLikeDislike(post.id, 'like'); post.userLiked= !post.userLiked; post.likeCount= post.likeCount+1" 
                    [disabled]="post.userLiked">
                        <mat-icon  [style.color]="post.userLiked ? 'green': '#00000000DE'" >thumb_up</mat-icon>
                    </button>
                </div>
                <div class="post-container-links">
                    <!-- Add Router Link -->
                    <span><a [routerLink]="['/post',post.id]">Read full post...</a></span>
                    
                </div>
                
            </div>

            </mat-card-actions>
    </mat-card>
</div>

