<div class="post-container" *ngFor="let post  of (posts$ |async)">
    <mat-card>
        <mat-card-title>{{post.title}}</mat-card-title>
        <mat-card-subtitle>{{post.publishDate}}</mat-card-subtitle>
        <mat-card-content>{{post.body}}</mat-card-content>
        <mat-card-actions align="end">
            <div class="post-container-actions">
                <div class="post-container-actions-like-btn">
                    <span class="button-text">{{post.likeCount}}</span>
                    <button mat-icon-button 
                    (click)="handleLikeDislike(post.id, 'like'); post.userLiked= !post.userLiked; post.likeCount= post.likeCount+1" 
                    [disabled]="post.userLiked">
                        <mat-icon  [style.color]="post.userLiked ? 'green': '#00000000DE'" >thumb_up</mat-icon>
                    </button>
                </div>
                <div class="post-container-links">
                    <!-- Add Router Link -->
                    <span><a routerLink="">Read full post...</a></span>
                </div>
                
            </div>

            </mat-card-actions>
    </mat-card>
</div>

<div class="archive-container ">
    <a routerLink="">Archive</a>
</div>
