<mat-card>
    <mat-card-title>About Bob</mat-card-title>
    <mat-card-content>
        <p>This is some information about Bob.</p>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-title>Blog Information</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item><p>This is some information about the blog. This blog was made as an example Angular 13 project.</p></mat-list-item>
            <mat-list-item><p>The purpose of this blog is to display knowledge of Angular and related resources.</p></mat-list-item>
            <mat-list-item><p [style.fontStyle]="'italic'">This project is available on Github at <a>@@@@@@@</a></p></mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>